.carousel {
  max-height: 400px;
  height: 50%;
  width: 75%;
  overflow: hidden;
  margin: auto;
  display: block;
}
.section{
  margin-top: 55px;
}

.carousel-image{
  max-height: 400px;
  max-width: 1400px;
}

.menu-item{
  padding-left: 20px;
  padding-right: 20px;
}

.container{
  background-color: ;
}

#featured-projects-header{
  margin: auto;
  text-align: center;
}

/* Route Components  */
#about{
  height: 400px;
  width: 1000px;
  background-color: lightgreen;
  margin: auto;
}
#home{
  height: 400px;
  width: 1000px;
  background-color: lightgreen;
  margin: auto;
}
#skills{
  height: 400px;
  width: 1000px;
  background-color: lightgreen;
  margin: auto;

}
#resume{
  height: 400px;
  width: 1000px;
  background-color: lightgreen;
  margin: auto;

}
#work-experience{
  height: 400px;
  width: 1000px;
  background-color: lightgreen;
  margin: auto;

}
#featured-projects{
 
}

.test-parallax{
  height: 400px;
  width: 1000px;
  background-color: blue;
  margin: auto;
}