.carousel {
  max-height: 400px;
  height: 50%;
  width: 75%;
  overflow: hidden;
  margin: auto;
  display: block;
}
.section{
  margin-top: 55px;
}

.carousel-image{
  max-height: 400px;
  max-width: 1400px;
}

.menu-item{
  padding-left: 20px;
  padding-right: 20px;
}

.container{
  background-color: ;
}

#featured-projects-header{
  margin: auto;
  text-align: center;
}


/* Skills Component */
.dev-logo{
  height: 100px;
  width: 100px; 
}

/* Route Components  */
#about{
  height: 100%;
  width: 70vw;
  background-color: steelblue;
  margin: auto;
}
#home{
  height: 100%;
  width: 70vw;
  background-color: lightgreen;
  margin: auto;
}
#skills{
  height: 100%;
  width: 70vw;
  background-color: lightgreen;
  margin: auto;

}
#resume{
  height: 100%;
  width: 70vw;
  background-color: lightgreen;
  margin: auto;

}
#work-experience{
  height: 100%;
  width: 70vw;
  background-color: orange;
  margin: auto;

}
/* Splash Component */
#get-to-know-me{
  margin: auto;
}

/* Autotyper */
#auto-type-box{
  background: rgba(0, 0, 0, 0.1); 
  margin: auto;
  height: 100%;
  width: 100%;
}
#first-line, #second-line, #third-line{
  color: white; 
  font-family: 'Droid Sans Mono', monospace;
  font-size: 200%;
  margin: 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
#first-line{
  animation: type 6s steps(60, end)
}
#second-line{
  animation: type2 6s steps(60, end) 
}
#third-line{
  animation: type3 6s steps(60, end);
}
#gitlink{
  color: red;
}



/* Blinking Cursors & Arrows */
.blink {
  animation: blink 1s infinite;
}
.glyphicon-chevron-right, .glyphicon-chevron-left{
  animation: blink 1.5s infinite;
}

@keyframes type{ 
  0%{width: 0;}
  33%{width: 100%;}
  100%{ width: 100%; } 
} 

@keyframes type2{
  0%{width: 0;}
  33%{width: 0;}
  66%{width: 70%;}
  100%{ width: 100%; } 
} 
@keyframes type3{
  0%{width: 0;}
  66%{width: 0%;}
  100%{ width: 100%;} 
} 

@keyframes blink{
  to{opacity: .0;}
}

/* ::selection{
  background: black;
} */

#splash-page{
  font-size: 2em;
}

